.Pokecard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: lightgrey;
    border-radius: 1%;
    width: 20%;
}

.Pokecard-image {
    margin: auto auto;
}

.Pokecard-container {
    padding: 2px 16px;
    margin: 20px;
}

.Pokecard-name {
    color: blue;
    font-size: medium;
}


